
<%- include("partials/header") -%> 


    <h1>HOME</h1>
    <p><%= homeText %> </p>
  

    <%   posts.forEach((elements)=>{  %>
        <h2><%= elements.Title %></h2>
       
        <p>
         <%= elements.content.substring(0,100)+" ..."%>
         <a href='/posts/<%=elements._id%>'  >Read more</a> 
        </p>
   <%   });  %> 

<%- include("partials/footer") -%> 